<!DOCTYPE html>
<html>
  <body>
    <h1>You're Invited!</h1>
    <p>Hello,</p>
    <p>You have been invited to join our platform. Please click the link below to accept the invitation:</p>
    <p><a href="<%= @invite_url %>">Accept Invitation</a></p>
    <p>Thank you!</p>
  </body>
</html>
