<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="about_page.css">
  <title>About Us - Seventh Circle Music Collective</title>
</head>
<body class="body-about-page">
  <div class="about-page-container">

    

    <img src="<%= asset_path('rooflogo.jpg') %>" alt="About Us Image" class="about-page-image">

    <p class="about-page-paragraph">
      <span class="about-page-highlight">Seventh Circle Music Collective</span> is an independent volunteer-run music venue in Denver, Colorado. Our mission is to provide an inclusive, sober, and barrier-free space for Denver’s underground music community. We’re a horizontally organized collective, meaning that all decisions about Seventh Circle are made by the community, and all shows and events are donation-based and volunteer-run. 
    </p>

    <h2 class="about-page-section-title">Punk is for everyone!</h2>
    <p class="about-page-paragraph">
      While there’s a place for adult-only venues, Seventh Circle is committed to welcoming all ages at every show. We believe that young people are responsible for our thriving scene, but they’re often left out by traditional venues’ age restrictions. 
    <br>
      Seventh Circle will always be an inclusive space for marginalized members of our community. We will not tolerate racism, sexism, homophobia, transphobia, ableism, predatory behavior or harassment, or any other type of discrimination against marginalized communities. Basically, don’t be a jerk!
    </p>

    <h2 class="about-page-section-title">Sober Space</h2>
    <p class="about-page-paragraph">
      At our collective, music takes center stage—not beer. We believe that Seventh Circle shouldn’t have to rely on alcohol to put on a good show, and we also believe in providing a safe place for young people to enjoy the scene. 
    </p>
    <img src="<%= asset_path('about2.jpg') %>" alt="About Us Image" class="about-page-image">

    <h2 class="about-page-section-title">We pick each other up</h2>
    <p class="about-page-paragraph">
      Seventh Circle is 100% run by volunteers—from booking to maintenance to running sound, the hard work of our collective is what makes every show happen. We believe that it takes all of us to support each other and keep this space alive!
    <br>
      Because our venue runs on membership, everyone who attends one of our shows is part of the collective. As such, you’re entitled to attend one of our volunteer meetings to get involved and make your voice heard. 
    </p>

    <h2 class="about-page-section-title">Financial barrier free</h2>
    <p class="about-page-paragraph">
      Seventh Circle operates on a members-only policy, where we ask all attendees to contribute $5 a year for membership. This once-yearly membership fee replaces a traditional venue’s ticket fees, and it makes sure that Seventh Circle can break even with our costs and make repairs or improvements to the space as needed. Charging a yearly membership fee also ensures that all of our shows can stay donation-based!
      <br>
      After the membership fee, all shows are donation only. No one is turned away for lack of funds! We believe that the music scene should be accessible to everyone regardless of their financial situation. For over a decade, we’ve proven that a donation-based model works: we are grateful to those who can donate towards the space and the bands, and we welcome those who can’t. 

    </p>
        <img src="<%= asset_path('about3.jpg') %>" alt="About Us Image" class="about-page-image">


    <h2 class="about-page-section-title">Membership rules</h2>
    <p class="about-page-paragraph">
      By becoming a member of the Seventh Circle collective, you agree to follow our rules. These are here to make sure everyone has a good time! If you break a rule, you may be asked to leave for the evening.
      <ul>
        <li>Respect the volunteers</li>
        <li>Respect our space and our neighbors’ space</li>
        <li>No drinking</li>
        <li>No drugs</li>
        <li>No sexism</li>
        <li>No racism</li>
        <li>No homophobia or transphobia</li>
        <li>No animals (service animals excepted)</li>
        <li>No glass</li>
        <li>No fighting or weapons</li>
        <li>No predatory behavior or harassment</li>
        <li>Don’t tag the murals or our neighbors’ buildings</li>
      </ul>
    </p>
  </div>
</body>
</html>
