<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="visit.css">
</head>
<body class="body-support-page">
  <div class="support-page-container">

    <section class="getting-here">
  <h2 class="support-page-section-title">Getting Here</h2>
  <div class="general-contact-content">
    <div class="map-container">
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6728.394020809475!2d-105.0242396!3d39.727716199999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c7f517abf7923%3A0x937aaebf6b98efd6!2sSeventh%20Circle%20Music%20Collective!5e1!3m2!1sen!2sus!4v1733248860937!5m2!1sen!2sus"
        width="100%" 
        height="100%" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
    <div class="contact-info">
      <p class="support-page-paragraph">
        <strong>Parking:</strong> Parking is street parking. Please do not park in our neighbors’ lots. There is plenty of parking down Seventh Avenue.
      </p>
      <p class="support-page-paragraph">
        <strong>Hours of Operation:</strong> We are only open on show days, usually from 7-11 pm. You can find a calendar of upcoming shows and events <a href="/posts/">here</a>.
      </p>
      <p class="support-page-paragraph">
        <strong>Space and accessibility notes</strong> 
        Shows are held in the garage in the back. This is accessible by wheelchair with a small lip on the doorframe. The show space is heated but not cooled. 
        <br>
        Bathrooms and the front desk are located in the main house—if you need access to the house or the show space, please ring the doorbell next to the stairs. A volunteer will set up the ramp or open the front gate for you. 
        <br>
        A water fountain, earplugs, masks, and first aid supplies are available in the house. 
      </p>
    </div>
  </div>
</section>

<section class="FAQs">
  <h2 class="support-page-section-title">FAQ</h2>
  <div class="general-contact-content">

<strong>What’s the cover?</strong>
All shows are NOTAFLOF (No one turned away for lack of funds), so all you need is your membership card. We encourage donating towards the night’s bands—the recommended donation varies from show to show. 
We can take payment via cash, card, or apple pay. 
<br>
<strong>Why do you check IDs?</strong>
Some door volunteers prefer to check IDs and X the hands of people under 21. Even though we are a sober space, many find it helpful to know when they are interacting with an older or younger person. 
<br>
<strong>Why do I have to pay membership?</strong>
We are a collective-based venue, which means that your $5/year fee makes you a part of the Seventh Circle collective. This gives us funds to keep the space open while giving YOU a say in the direction of Seventh Circle! It also helps ensure that we can keep all our shows donation-only. 
<br>
<strong>Is there re-entry?</strong>
After you first check in with the door person and get your wristband or your hand marked, you’re welcome to come and go as you please! No need to check in with us upon re-entry. 
<br>
<strong>Do you sell food? </strong>
We don’t regularly sell food or drinks, but there are several restaurants, food trucks, and gas stations in walking or nearby driving distance.
<br>
<strong>Is smoking allowed?</strong>
You can smoke while in the courtyard or outside the venue. Please do not smoke in the house, in the show space, or in the green room/practice space. 


  </div>
</body>
</html>
</section>